.secondMenu{
    height: 50px;
    overflow: hidden;
}
h1, h2, h3, h4, h5{
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: url("Background1.jpg"); 
}